# Ignore project-specific stuff.
.vscode/
dev/

# Ignore compiled plugins.
plugins/

# Maybe put these in "".git/info/exclude"?
scripting/bwaplugin+wrang.sp
scripting/bwaplugin_premvm.sp
scripting/sm_chaosmvm.sp